/* Custom style for left navigation  */

.change_font_model {
	font-size: 5px;
  	font-family: inherit;
}
.image_width{
	width: 128px;
}
/* .show_left_panel_nav img{
	width: 5px;
	height:1000px;
}

.show_panel_nav{
	width: 5px;
	height:1000px;
} */


